<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oilutt.tournament_manager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".app.TournamentManagerApp"
        android:allowBackup="true"
        android:icon="@drawable/trophy"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:roundIcon="@drawable/trophy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme, android:icon, android:allowBackup">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.desmond.squarecamera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CropTheme" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CampeonatoDetailsActivity"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http"
                android:host="tournamentmanager.com"
                android:pathPrefix="/invite"/>
        </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AddCampActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEdt"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.TeamListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEdt"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.CampeonatoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SignupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeEdt" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeEdt" />
        <activity
            android:name=".ui.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeEdt" />
        <activity
            android:name=".ui.activity.EditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeEdt" />
        <activity
            android:name=".ui.activity.CodigoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeEdt"/>
    </application>

</manifest>